$primary-color: yellow;
$secondary-color: rgb(66, 57, 57);
$tertiary-color: rgb(255, 174, 0);
$font-family-title: times;
$font-family-paragraph: arial;
$font-size-title: 34px;
$font-size-paragraph: 14px;
$font-size-subtitles: 26px;